.center {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertikal */
    height: 100vh;           /* volle Bildschirmhöhe */
}

#random {
    cursor: pointer;
}
