@(controller: de.htwg.se.minesweeper.controller.ControllerInterface)

@import helper._
@import de.htwg.se.minesweeper.model.FieldComponent.{Field, FieldInterface, Symbols, Matrix}

@main("Minesweeper GUI") {
    <div class="container">
        <h1>💣 Minesweeper 💣</h1>

        <p class="difficulty">
            Wähle eine <strong>Schwierigkeitsstufe</strong>:
            <br>
            <a href='@routes.MinesweeperWebController.setDifficulty("0")'>🟩 Einfach</a> |
            <a href='@routes.MinesweeperWebController.setDifficulty("1")'>🟨 Mittel</a> |
            <a href='@routes.MinesweeperWebController.setDifficulty("2")'>🟥 Schwer</a>
        </p>

        <p class="instructions">
            <strong>Spielanleitung:</strong><br>
            Klicke auf ein Feld, um es aufzudecken.  
            Wenn du eine Mine triffst, ist das Spiel vorbei!
        </p>

        <div class="board-wrapper">
            <table>
                @for(y <- 0 until controller.field.size) {
                    <tr>
                        @for(x <- 0 until controller.field.size) {
                            <td>
                                @{
                                    val cellValue = controller.field.cell(x, y)
                                    cellValue match {
                                        case Symbols.Covered => Html(
                                            s"""<a href='${routes.MinesweeperWebController.uncover(y, x).url}'>□</a>"""
                                        )
                                        case Symbols.Empty => Html("&nbsp;")
                                        case Symbols.Bomb => Html("💣")
                                        case number => Html(number.toString)
                                    }
                                }
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
}
