@(title: String)(content: Html)   <!-- 🔹 Muss ganz oben stehen -->
@import controllers.routes.Assets

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>@title</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" media="screen" href="@Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@Assets.versioned("images/favicon.png")">
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/gui.css")'>

    <!-- ✅ Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/main.js")"></script>
  </head>

  <body>
    <!-- Main Content -->
    @content

    <!-- JavaScript -->
    <script src="@Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
  </body>
</html>
