@main("Test Titel") {

    <div class="center">
        <p id="randomText">
        Click for random number: <span id="random">4</span>
        </p>
    </div>

    <input id="lengthValue" type="text" value="5">

    <p id="randomStringText">
        Click here for random String: <span id="randomString"></span>
    </p>

    <script src='@routes.Assets.versioned("javascripts/basic.js")'></script>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")'>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


}
